$backgroundButton:                 #f1f3f4;
$colorIconAndElemMenu:             #1967d2;
$colorGrey:                        #5f6368;
$contentBlock:                      1176px;
$maxWidthArticle:                   728.66px;
$auto:                              auto;

$tooltip-font-size:                 10px;
$tooltip-opacity:                   .6;
$tooltip-arrow-color:               red;
$displayBlock:                      block;
$displayInlineBlock:                inline-block;
$positionRelative:                  relative;
$margin-right-LinksAndTime:         5px;
$break-word:                        break-word;
$boxOrient:                        horizontal;
$boxAlign:                         center;

